<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.test.starblinkanimation">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name="com.test.workflow.workcation.common.WorkcationApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StarBlinkAnimation"
        tools:targetApi="31">
        <activity
            android:name="com.test.pataadetailsview.PataaDetailActivity"
            android:exported="false" />
        <activity
            android:name="com.test.pataadetailsview.ListMainActivity"
            android:exported="false" />
        <activity
            android:name="com.test.viewpageindicator.ViewPageIndicatorMainActivity"
            android:exported="false"
            android:label="@string/title_activity_view_page_indicator_main"
            android:theme="@style/Theme.StarBlinkAnimation.NoActionBar" />
        <activity
            android:name="com.test.rippleActivityStart.Activity2"
            android:exported="false" />
        <activity
            android:name="com.test.rippleActivityStart.Activity1"
            android:exported="false" />
        <activity
            android:name="com.test.workflow.workcation.screens.main.MainActivity"
            android:exported="false" />
        <activity
            android:name="com.test.textviewaniation.TextViewDrawMainActivity"
            android:exported="false" />
        <activity
            android:name="com.test.circleshimmer.ShimmerMainActivity"
            android:exported="false" />
        <activity
            android:name="com.test.mapmarkeranimation.MapMainActivity"
            android:exported="false" />
        <activity
            android:name="com.test.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.test.newanimation.MainActivity" />
        <activity android:name=".start.Animation1" />
        <activity android:name="com.test.buttonwaveanimation.Animation2" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDB190NKyyWAmS9YnT4ib64W6jHxUV_TeU" />
    </application>

</manifest>